@page "/"
@page "/sessions"

@using Conclave.Lotto.Web.Components

<PageTitle>Index</PageTitle>

<div class="flex justify-between gap-3 1xl:gap-0">
    <div class="relative px-5 pt-5 border-2 flex flex-col justify-between">
        <SessionList>
            @foreach (var item in PaginatedSessions)
            {
                <SessionCard OnSessionCardClicked="() => OnSessionCardClicked(item)" SessionDetails="item"
                OnBtnBuyTicketClicked="() => OnBtnBuyTicketClicked(item)" />
            }
        </SessionList>
        <div class="flex px-5 mb-2 justify-center">
            <MudPagination Color="Color.Primary" Count="3" SelectedChanged="OnPageChanged" />
        </div>
    </div>
    <div>
        <div>
            <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">
                Create Session
            </MudButton>
        </div>
        <div class="outline outline-1 mt-4">
            <LottoWinnersList>
                @foreach (var lottoWinner in LottoWinners)
                {
                    <LottoWinnerCard Address="@lottoWinner.Address" PrizeWon="@lottoWinner.PrizeWon" />
                }
            </LottoWinnersList>
        </div>
        <div class="mt-4 outline outline-1">
            <TicketList />
        </div>
    </div>
</div>
