<MudDialog>
    <DialogContent>
        <h3>
            Select the currency you want to deposit to your balance on the platform
        </h3>
        <MudSelect T="string" Label="Select Currency" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined">
            <MudSelectItem Value="@("CONCLAVE")" />
            <MudSelectItem Value="@("MILKADA")" />
        </MudSelect>
        <div class="flex justify-between items-center">
            <div>Available</div>
            <div class="flex items-center justify-center">
                <p>~0.00 USD</p>
                <MudChip Label="true" OnClick="OnBtnMaxClicked">Max</MudChip>
            </div>
        </div>
        <MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined" Adornment="Adornment.End"
            AdornmentText="ADA" AdornmentColor="Color.Info">
        </MudTextField>
        <MudSlider @bind-Value="TextValue" Min="1" Max="100" Color="Color.Info"></MudSlider>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="OnBtnCancelClicked">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OnBtnDepositClicked">Deposit</MudButton>
    </DialogActions>
</MudDialog>