<MudDialog Class="pb-5 w-[500px]">
    <DialogContent>
        <div class="mb-4">
            <h3 class="text-center font-bold text-[25px]">Add funds</h3>
            <p class="w-[65%] text-center m-auto text-[12px]">
                Select the currency you want to deposit to your balance on the platform
            </p>
        </div>

        <MudSelect
            FullWidth="true"
            T="string"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            @bind-Value="Currency">
                <MudSelectItem Value="@("mADA")"/>
                <MudSelectItem Value="@("CNCLV")"/>
        </MudSelect>

        <div class="mt-5">
            <div class="flex justify-between items-center">
                <div>Available: 
                    <span class="font-bold">
                        @String.Format("{0:0,0.##}", GetBalanceOfSelectedCurrency()) @Currency
                    </span>
                </div>
                <div class="flex items-center justify-center gap-1">
                    <p class="font-bold">
                        ~@(DepositAmount == 0 ? "0.00" : String.Format("{0:0,0.##}", ToUSD(DepositAmount))) USD
                    </p>
                    <MudChip Label="true" OnClick="OnBtnMaxClicked">Max</MudChip>
                </div>
            </div>

            <MudTextField
                @bind-Value="DepositAmount"
                Variant="Variant.Outlined"
                Placeholder="0.00"
                Adornment="Adornment.End"
                AdornmentText="@Currency"
                AdornmentColor="Color.Primary"
                InputType="InputType.Number"
                Immediate="true"
                Validation="(new Func<double, string?>(CheckBalance))"
            />

            <MudSlider
                @bind-Value="DepositAmount"
                Min="0"
                Max="GetBalanceOfSelectedCurrency()"
                Color="Color.Primary"
                Class="mt-7"
                T="double"
            />
        </div>
    </DialogContent>

    <DialogActions>
        <div class="flex gap-2 w-full px-4">
            <MudButton
                Class="basis-1/2"
                OnClick="Cancel"
                Variant="Variant.Filled"
                Color="Color.Dark"
            >
                Cancel
            </MudButton>
            <MudButton
                Class="basis-1/2"
                Variant="Variant.Filled"
                Color="Color.Primary"
                Disabled="IsDepositBtnDisabled"
            >
                Deposit
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>
