@using Models
<MudDialog>
    <DialogContent>
        <div class="flex flex-col justify-between">
            <div class="flex justify-between mb-2">
                <MudText Typo="Typo.body2">Session ID: @SessionDetails.Id</MudText>
                <MudText Typo="Typo.body2">Ticket Price: ₳ @SessionDetails.TicketPrice</MudText>
            </div>
            <MudText Typo="Typo.h5">Ticket Entry:</MudText>
            <ul class="flex justify-center border-2">
                @foreach (Inputs entry in TicketEntries)
                {
                    <li>
                        <input class="mr-2 border-2 p-2" @ref="entry.ElementRef" @bind-value="entry.Value"
                        @onkeyup="() => OnKeyPressed(entry)" @bind-value:event="oninput" />
                    </li>
                }
            </ul>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="OnBtnCancelClicked">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OnBtnDepositClicked">Ok</MudButton>
    </DialogActions>
</MudDialog>