@using Models
<MudDialog>
    <DialogContent>
        <div class="relative flex flex-col justify-between">
            <div class="flex justify-between mb-4">
                <div>
                    <MudText Typo="Typo.body2">Session ID: @SessionDetails.Id</MudText>
                    <MudText Typo="Typo.body2">Session Name: @SessionDetails.Name</MudText>
                </div>
                <div>
                    <MudText Typo="Typo.body2">Current Prize: ₳ @SessionDetails.PrizePool</MudText>
                    <MudText Typo="Typo.body2">Ticket Price: ₳ @SessionDetails.TicketPrice</MudText>
                </div>
            </div>
            <MudText Typo="Typo.h5">Ticket Entry:</MudText>
            <ul class="grid grid-cols-3 gap-4">
                @foreach (Inputs entry in TicketEntries)
                {
                    <li>
                        <input class="mr-2 border-2 py-2" @ref="entry.ElementRef" @bind-value="entry.Value"
                        @onkeyup="() => OnKeyPressed(entry)" @bind-value:event="oninput" />
                    </li>
                }
            </ul>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="OnBtnCancelClicked">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OnBtnDepositClicked">Ok</MudButton>
    </DialogActions>
</MudDialog>