<MudDialog Class="cardano-wallets" DisableSidePadding="true">
    <DialogContent>
        <MudPaper Width="300px" Elevation="0">
            <MudList Clickable="true">
                <div class="flex items-center pl-4">
                    <div class="max-w-[40px]"><img src="images/flint.png" alt="Flint logo"></div>
                    <MudListItem Text="Flint"/>   
                </div>
                <div class="flex items-center pl-4">
                    <div class="max-w-[40px]"><img src="images/nami.png" alt="Nami logo"></div>
                    <MudListItem Text="Nami"/>
                </div>   
                <div class="flex items-center pl-4">
                    <div class="max-w-[40px]"><img src="images/eternl.png" alt="Eternl logo"></div>
                    <MudListItem Text="Eternl"/>
                </div>               
                <div class="flex items-center pl-4">
                    <div class="max-w-[40px]"><img src="images/typhon.svg" alt="Typhon logo"></div>
                    <MudListItem Text="Typhon"/>
                </div>
            </MudList>
        </MudPaper>
    </DialogContent>
</MudDialog>
