<MudPaper Width="100%" Elevation="0" Class="m-0">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="p-0 m-0 outline outline-1">
        <div class="flex justify-between items-center py-3 px-4">
            <div class="font-bold text-xl">CNCLV LOTTO</div>
            <div>
                <MudButton OnClick="OnBtnConnectWalletClicked" Variant="Variant.Filled" Color="Color.Primary">
                    Connect Wallets
                </MudButton>
            </div>
        </div>
    </MudContainer>
</MudPaper>
