<MudCard Outlined="true">
    <MudCardContent>
        <MudText>
            <div class="text-[12px]">@Address</div>
            <div class="text-[12px]">won @PrizeWon ADA!</div>
        </MudText>
    </MudCardContent>
</MudCard>
