<div class="max-w-[250px] border-1 border-black border-solid">
    <MudCard Class="m-0">
        <MudCardContent>
            <MudText>Session Id: 3132131</MudText>
            <MudText Typo="Typo.body2">Session Name: Lorem Ipsum.</MudText>
            <MudText Typo="Typo.body2">Current Price</MudText>
            <MudText Typo="Typo.h5">10,000 ADA</MudText>
            <h4>Upcoming Draw:</h4>
            <CountdownTimer Interval=@Interval />
            <CombinationResult />
            @* NOTE: Create a buy ticket Modal *@
            <MudText Typo="Typo.subtitle1">Ticket Price: 10 ADA</MudText>
            <MudButton Color="Color.Primary">Buy Ticket Now</MudButton>
        </MudCardContent>
    </MudCard>
</div>
