<div class="max-w-fit">
    <MudTabs Elevation="4" Rounded="true" ApplyEffectsToContainer="true" Color="@Color.Primary">
        <MudTabPanel Text="My Tickets">
            <div>
                <TicketDetails SessionId="65349" TicketEntry="05-42-03-21-60-55" Prize="100000" />
                <TicketDetails SessionId="18392" TicketEntry="10-27-20-32" Prize="10000" />
                <TicketDetails SessionId="76342" TicketEntry="01-22-22-34-45-06" Prize="20000" />
            </div>
        </MudTabPanel>

        <MudTabPanel Text="Previous Bets">
            <div>
                <TicketDetails SessionId="65349" TicketEntry="05-42-03-21-60-55" Prize="100000" />
                <TicketDetails SessionId="18392" TicketEntry="10-27-20-32" Prize="10000" />
                <TicketDetails SessionId="76342" TicketEntry="01-22-22-34-45-06" Prize="20000" />
                <TicketDetails SessionId="18392" TicketEntry="10-27-20-32" Prize="10000" />
                <TicketDetails SessionId="76342" TicketEntry="01-22-22-34-45-06" Prize="20000" />
            </div>
        </MudTabPanel>
    </MudTabs>
</div>
