@using Conclave.Lotto.Web.Components
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />

<div class="max-w-[1440px] m-auto px-4">
    <header>
        <Header />
    </header>
    
    <main class="flex gap-3 mt-4">
        <aside class="outline outline-1 w-fit 1xl:mr-2">
            <Sidebar />
        </aside>

        <article class="w-full">
            @Body
        </article>
    </main>
</div>
